force-app/main/default/flows/AccountUppercaseFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>billingCity</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingCity})</expression>
    </formulas>
    <formulas>
        <name>billingCountry</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>billingPostalCode</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>billingState</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingState})</expression>
    </formulas>
    <formulas>
        <name>billingStreet</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.BillingStreet})</expression>
    </formulas>
    <formulas>
        <name>causaNoCualificada</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ATV_CAUSA_NO_CUALIFICADO__c})</expression>
    </formulas>
    <formulas>
        <name>description</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Description})</expression>
    </formulas>
    <formulas>
        <name>name</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>nombreFantasia</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.Nombre_Legal__c})</expression>
    </formulas>
    <formulas>
        <name>shippingCity</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ShippingCity})</expression>
    </formulas>
    <formulas>
        <name>shippingCountry</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ShippingCountry})</expression>
    </formulas>
    <formulas>
        <name>shippingPostalCode</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ShippingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>shippingState</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ShippingState})</expression>
    </formulas>
    <formulas>
        <name>shippingStreet</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.ShippingStreet})</expression>
    </formulas>
    <interviewLabel>AccountUppercaseFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Uppercase Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>trae_direcciones</name>
        <label>trae direcciones</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualiza_direccion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direccion_predeterminada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ATV_NTS_Direccion_de_Envio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_direccion</name>
        <label>actualiza direccion</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>UppercaseFields</targetReference>
        </connector>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>trae_direcciones.ATV_NTS_Localidad__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>trae_direcciones.NTS_fld_ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>trae_direcciones.ATV_fld_ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>trae_direcciones.ATV_NTS_Provincia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>trae_direcciones.NTS_fld_ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UppercaseFields</name>
        <label>Uppercase Fields</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>ATV_CAUSA_NO_CUALIFICADO__c</field>
            <value>
                <elementReference>causaNoCualificada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>billingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>billingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>billingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>billingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>billingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_Legal__c</field>
            <value>
                <elementReference>nombreFantasia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>shippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>shippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>shippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>shippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>shippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>trae_direcciones</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
