force-app/main/default/flows/Actividades_Arca_Update_Rubro_Descripcion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Actividad</name>
        <label>Assignment Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actividadRecord.RUBRO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RUBRO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actividadRecord.ATV_Descripci_n_Actividad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ATV_Descripci_n_Actividad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actividadRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Actividad.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actividadList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>actividadRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Actividad</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_update_5_mins</name>
        <label>Was update 5 mins?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Actividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Actividad.FormulaLastModified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Actividad.RUBRO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RUBRO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Actividad.ATV_Descripci_n_Actividad__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ATV_Descripci_n_Actividad__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Actividad</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flow que se utiliza para actualizar el rubro y la descripcion de las actividades Arca con el mismo codigo de actividad</description>
    <environments>Default</environments>
    <formulas>
        <name>FiveMinutes</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    (NOW() - {!$Record.LastModifiedDate}) * 1440 &lt;= 5,
    TRUE,
    FALSE
)</expression>
    </formulas>
    <interviewLabel>Actividades Arca - Update Rubro &amp; Descripcion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actividades Arca - Update Rubro &amp; Descripcion</label>
    <loops>
        <name>Loop_Actividad</name>
        <label>Loop Actividad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Actividades_Arca</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_update_5_mins</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Actividades_Arca</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Actividades_Arca</name>
        <label>Get Actividades Arca</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Actividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CODIGO_ACTIVIDAD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CODIGO_ACTIVIDAD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ATV_ACTIVIDADES_ARCA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Actividades_Arca</name>
        <label>Update Actividades Arca</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>actividadList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Actividades_Arca</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CODIGO_ACTIVIDAD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RUBRO__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ATV_Descripci_n_Actividad__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ATV_ACTIVIDADES_ARCA__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>actividadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ATV_ACTIVIDADES_ARCA__c</objectType>
    </variables>
    <variables>
        <name>actividadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ATV_ACTIVIDADES_ARCA__c</objectType>
    </variables>
</Flow>
