force-app/main/default/flows/Agrega_la_direcci_n_al_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Hay_contacto</name>
        <label>Hay contacto</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agrega_datos_del_contacto</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Fechadeexpiracion</name>
        <dataType>Date</dataType>
        <expression>today()+10</expression>
    </formulas>
    <formulas>
        <description>Calcula el 21% de impuesto de Precio total</description>
        <name>Impuesto</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalPrice}*0.21</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Agrega la dirección al Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agrega la dirección al Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>trae_account_related</name>
        <label>trae account related</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actualiza_direccion_de_envio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Direccion_predeterminada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ATV_NTS_Direccion_de_Envio__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actualiza_direccion_de_envio</name>
        <label>Actualiza direccion de envio</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Hay_contacto</targetReference>
        </connector>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>trae_account_related.ATV_NTS_Localidad__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>trae_account_related.NTS_fld_ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>trae_account_related.ATV_fld_ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>trae_account_related.ATV_NTS_Provincia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>trae_account_related.NTS_fld_ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_la_direcci_n_de_cliente</name>
        <label>Actualiza la dirección de cliente</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>trae_account_related</targetReference>
        </connector>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Fechadeexpiracion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>Impuesto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Agrega_datos_del_contacto</name>
        <label>Agrega datos del contacto</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actualiza_la_direcci_n_de_cliente</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
