force-app/main/default/flows/ATV_Asignar_hallazgos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_externa_nuevo_hallazgo</name>
        <label>Alerta externa nuevo hallazgo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>UsersEmails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Nuevo hallazgo para revisar!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Revisar el nivel del nuevo hallazgo: {!$Record.CaseNumber}
Podés ver el caso en el siguiente enlace:
https://castle-global.lightning.force.com/{!$Record.Id}
Saludos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Alerta_nuevo_hallazgo</name>
        <label>Alerta nuevo hallazgo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Alerta_externa_nuevo_hallazgo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>custom_notification_id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipientids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo hallazgo para revisar!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_ALERTA_EMAIL_CREADOR_CONTACT</name>
        <label>ALERTA EMAIL CREADOR/CONTACT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.CreatedBy.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>$Record.Contact.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>caseContactRolesEmails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ya estamos trabajando en una solucion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Hola,

Queríamos avisarte que tu caso ya fue recibido y nuestro equipo está trabajando en una solución.

Ante cualquier novedad o si necesitamos más información, nos vamos a estar comunicando.

Gracias por la paciencia.

Saludos
</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_ALERTA_EMAIL_CREADOR_CONTACT</name>
        <label>ALERTA EMAIL CREADOR/CONTACT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.CreatedBy.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>$Record.Contact.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>caseContactRolesEmails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ya estamos trabajando en una solucion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Hola,

Queríamos avisarte que tu caso ya fue recibido y nuestro equipo está trabajando en una solución.

Ante cualquier novedad o si necesitamos más información, nos vamos a estar comunicando.

Gracias por la paciencia.

Saludos
</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_ALERTA_EMAIL_CREADOR_CONTACT</name>
        <label>ALERTA EMAIL CREADOR/CONTACT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.CreatedBy.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>$Record.Contact.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>caseContactRolesEmails</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Ya estamos trabajando en una solucion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Hola,

Queríamos avisarte que tu caso ya fue recibido y nuestro equipo está trabajando en una solución.

Ante cualquier novedad o si necesitamos más información, nos vamos a estar comunicando.

Gracias por la paciencia.

Saludos
</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_users_to_recipients</name>
        <label>Add users to recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recipientids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_queue_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_members_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Store users email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UsersEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_members_email.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_queue_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storeEmail</name>
        <label>storeEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseContactRolesEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseContactRolesEmails</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>equipoHallazgosId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GVr00000DgoCJ</stringValue>
        </value>
    </constants>
    <constants>
        <name>noConformidadId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GVr00000DgoCG</stringValue>
        </value>
    </constants>
    <constants>
        <name>observacionId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GVr00000DgoCH</stringValue>
        </value>
    </constants>
    <constants>
        <name>oportunidadDeMejoraId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00GVr00000DgoCI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_5</name>
        <label>Tiene Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetCaseContactRolesEmails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene email</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeEmail</targetReference>
            </connector>
            <label>Tiene email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ya_se_corrio_el_flow2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ASIGNADO</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ya_se_corrio_el_flow</targetReference>
            </connector>
            <label>NUEVO</label>
        </rules>
    </decisions>
    <decisions>
        <name>TIPO_DE_HALLAZGO</name>
        <label>TIPO DE HALLAZGO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_queue_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO CONFORMIDAD</defaultConnectorLabel>
        <rules>
            <name>OPORTUNIDAD_DE_MEJORA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATV_Tipo_de_Hallazgo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oportunidad de Mejora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_queue_2</targetReference>
            </connector>
            <label>OPORTUNIDAD DE MEJORA</label>
        </rules>
        <rules>
            <name>Observacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATV_Tipo_de_Hallazgo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Observación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_queue_3</targetReference>
            </connector>
            <label>OBSERVACION</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ya_se_corrio_el_flow</name>
        <label>Ya se corrio el flow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATV_se_corrio_flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_CHECKBOX1</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>ya_se_corrio_el_flow2</name>
        <label>ya se corrio el flow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_ya_se_corrio_el_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ATV_Se_corrio_el_flow_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACTIVAR_CHECKBOX</targetReference>
            </connector>
            <label>Outcome 1 of ya se corrio el flow?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asignar hallazgos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asignar hallazgos</label>
    <loops>
        <name>GetCaseContactRolesEmails</name>
        <label>Get Case Contact Roles Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TIPO_DE_HALLAZGO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_queue_members</name>
        <label>Loop queue members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_queue_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_users_to_recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Alerta_nuevo_hallazgo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>custom_notification_id</name>
        <label>custom notification id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_queue_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ATV_Nuevo_hallazgo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_members_email</name>
        <label>Get users email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_queue_members.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_queue_members</name>
        <label>Get queue members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_queue_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>equipoHallazgosId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseContactRolesEmails.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRoles</name>
        <label>GetContactRoles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseContactRolesEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CasesId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ACTIVAR_CHECKBOX</name>
        <label>ACTIVAR CHECKBOX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactRoles</targetReference>
        </connector>
        <inputAssignments>
            <field>ATV_Se_corrio_el_flow_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_queue</name>
        <label>Asignar queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>custom_notification_id</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>equipoHallazgosId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_queue_2</name>
        <label>Asignar queue 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_ALERTA_EMAIL_CREADOR_CONTACT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>oportunidadDeMejoraId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_queue_3</name>
        <label>Asignar queue 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_3_of_ALERTA_EMAIL_CREADOR_CONTACT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>observacionId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asignar_queue_4</name>
        <label>Asignar queue 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_5_of_ALERTA_EMAIL_CREADOR_CONTACT</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>noConformidadId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPDATE_CHECKBOX1</name>
        <label>UPDATE CHECKBOX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignar_queue</targetReference>
        </connector>
        <inputAssignments>
            <field>ATV_se_corrio_flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASIGNADO</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Revisar el nivel del nuevo hallazgo: {!$Record.CaseNumber}</text>
    </textTemplates>
    <variables>
        <name>caseContactRolesEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipientids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
