force-app/main/default/flows/ContactMobilePhoneNormalize.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>MobilePhoneAssigment</name>
        <label>MobilePhoneAssigment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PhoneAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PhoneAssignment</name>
        <label>Phone Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <expression>IF(
  BEGINS({!$Record.MobilePhone}, &quot;+54 9&quot;),
  {!$Record.MobilePhone},
  &quot;+54 9 &quot; &amp; 
    SUBSTITUTE(
      SUBSTITUTE(
        SUBSTITUTE({!$Record.MobilePhone}, &quot;+54 9 &quot;, &quot;&quot;),
        &quot;+549&quot;, &quot;&quot;
      ),
      &quot;+54&quot;, &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>Phone</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(BEGINS({!$Record.Phone}, &quot;+54 9&quot;), BEGINS({!$Record.Phone}, &quot;+54&quot;)),
  {!$Record.Phone},
  &quot;+54 &quot; &amp; 
    SUBSTITUTE(
      SUBSTITUTE(
        SUBSTITUTE({!$Record.Phone}, &quot;+54 9 &quot;, &quot;&quot;),
        &quot;+549&quot;, &quot;&quot;
      ),
      &quot;+54&quot;, &quot;&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>Contact - Mobile Phone Normalize {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Mobile Phone Normalize</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MobilePhoneAssigment</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
