force-app/main/default/flows/Crea_Quote_al_pasar_a_Deseo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Record_Variable</name>
        <label>Add Record Variable</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineRecordVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Records</name>
        <label>Assign Single Records</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>SingleLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleLineItem.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Crea_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nombre_del_quote</name>
        <label>Nombre del quote</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Nombrequote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nombre_del_quote_repetitivo</name>
        <label>Nombre del quote repetitivo</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Nombrequote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sacarelrepetitivadelnombre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ATV_La_oportunidad_es_repetitiva</name>
        <label>La oportunidad es repetitiva?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Nombre_del_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es repetitiva</defaultConnectorLabel>
        <rules>
            <name>Es_repetitiva</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Repetitiva__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nombre_del_quote_repetitivo</targetReference>
            </connector>
            <label>Es repetitiva</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Sacarelrepetitivadelnombre</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;{!$Record.Opportunity_Number__c}</expression>
    </formulas>
    <interviewLabel>Crea Quote al pasar a Deseo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Crea Quote al pasar a Deseo</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_OpportunityLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crea_QuoteLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Quote</name>
        <label>Crea Quote</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CONDICIONES_COMERCIALES__c</field>
            <value>
                <stringValue>A CONFIRMAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombrequote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crea_QuoteLineItem</name>
        <label>Crea QuoteLineItem</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <inputReference>QuoteLineRecordVariable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OpportunityLineItem</name>
        <label>Get OpportunityLineItem</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ATV_La_oportunidad_es_repetitiva</targetReference>
        </connector>
        <filterFormula>text({!$Record__Prior.StageName})&lt;&gt;&quot;Interés&quot;&amp;&amp;text({!$Record.StageName})=&quot;Interés&quot;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Nombrequote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SingleLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
