force-app/main/default/flows/Frecuencia_de_Compra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_de_Compra</name>
        <label>Alerta de Compra</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Tiene_que_comprar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Recordatorio de compra</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Tiene_que_comprar</name>
        <label>Tiene que comprar</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Empty_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TextoChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Owner</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>AllProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_record_variable</name>
        <label>Assign new record variable</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Opp_Cerrada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values</name>
        <label>Assign new values</label>
        <locationX>138</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Products.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Products.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_1</name>
        <label>UsuarioOwner</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trae_el_usuario_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Opp_Cerrada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_ID</name>
        <label>Empty ID</label>
        <locationX>50</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Buscar_Opp_Cerrada.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_record_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ID_Value</name>
        <label>Save ID Value</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>OpporunityID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Opp_Cerrada.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pasaron_los_meses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pasaron_los_meses</name>
        <label>Pasaron los meses</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Opp_Cerrada.CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MesesFrecuenciadecompra</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_de_Compra</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LinkChatter</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://customer-data-4765--devatv.sandbox.lightning.force.com/lightning/r/Account/001Dx000019WlS7IAK/view&quot;
, {!$Record.Name})</expression>
    </formulas>
    <formulas>
        <name>MesesFrecuenciadecompra</name>
        <dataType>Date</dataType>
        <expression>today()-({!$Record.Frecuencia__c}*30)</expression>
    </formulas>
    <interviewLabel>Frecuencia de Compra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Frecuencia de Compra</label>
    <loops>
        <name>Loop_Through_Products</name>
        <label>Loop Through Products</label>
        <locationX>50</locationX>
        <locationY>1440</locationY>
        <collectionReference>Search_all_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Duplicate</name>
        <label>Create Duplicate</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Search_all_Products</targetReference>
        </connector>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Products</name>
        <label>Create Opp Products</label>
        <locationX>50</locationX>
        <locationY>1848</locationY>
        <connector>
            <targetReference>Update_Opp_Stage</targetReference>
        </connector>
        <inputReference>AllProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Opp_Cerrada</name>
        <label>Buscar Opp Cerrada</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_ID_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_all_Products</name>
        <label>Search all Products</label>
        <locationX>50</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpporunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Trae_el_usuario_Owner</name>
        <label>Trae el usuario Owner</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Stage</name>
        <label>Update Opp Stage</label>
        <locationX>50</locationX>
        <locationY>1956</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trae_el_usuario_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Frecuencia__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-01-24</startDate>
            <startTime>10:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Owner.FirstName}&lt;/p&gt;&lt;p&gt;Pasaron {!$Record.Frecuencia__c} meses de la última oportunidad Ganada/Perdida.&lt;/p&gt;&lt;p&gt;Hay que contactar de nuevo al cliente &lt;a href=&quot;https://customer-data-4765--devatv.sandbox.lightning.force.com/lightning/r/Account/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt; para volver a vender.&lt;/p&gt;&lt;p&gt;Saludos, Castle&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TextoChatter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Owner}]
Pasaron 2 meses de la última oportunidad Ganada/Perdida.
Hay que contactar de nuevo al cliente {!$Record.Name} para volver a vender.
https://customer-data-4765--devatv.sandbox.lightning.force.com/lightning/r/Account/001Dx000019WlS7IAK/view
Saludos, Castle</text>
    </textTemplates>
    <variables>
        <name>AllProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpporunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
