force-app/main/default/flows/Modifica_el_Quote_line_item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asiganar_Quotelienitem_encontrados</name>
        <label>Asiganar Quotelienitem encontrados</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>quotelineitemIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Buscar_Quote_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Impuesto</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalPrice}*0.21</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Modifica el Quote line item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Modifica el Quote line item</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>quotelineitemIDS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crea_el_costo_para_usar_en_quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ATV_tax_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Quote_Line_Item</name>
        <label>Buscar Quote Line Item</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asiganar_Quotelienitem_encontrados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ATV_tax_update</name>
        <label>tax_update</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Tax</field>
            <value>
                <elementReference>Impuesto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Crea_el_costo_para_usar_en_quote</name>
        <label>Crea el costo para usar en quote</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Costo_flow__c</field>
            <value>
                <elementReference>Loop_1.Costo__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Quote_Line_Item</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>quotelineitemIDS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
