force-app/main/default/flows/Split_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Separate_Values</name>
        <label>Separate Values</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>ConvertCSVToStringCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quantity_Loop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>csvString</name>
            <value>
                <elementReference>Select_Products</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ConvertCSVToStringCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Opp_Name</name>
        <label>Assign Active Opp Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ActiveOppName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppInUse.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveOppName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveOppName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Child Active Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Active_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Opp_Value</name>
        <label>Assign Child Opp Value</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>OppInUse.Child_Active_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Active_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Save_in_Backup_Opp_Collection</name>
        <label>Save in Backup Opp Collection</label>
        <locationX>264</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductsToBeDeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Opp_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_quantiy</name>
        <label>Current quantiy</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>QTY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_in_Active_Opp_Collection</name>
        <label>Save in Active Opp Collection</label>
        <locationX>264</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>NewActiveOpportunityProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordtobeCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Save_in_Backup_Opp_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_In_Variable</name>
        <label>Save In Variable</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ProductsInOriginalOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opp_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Product_for_New_Opp</name>
        <label>Save Product for New Opp</label>
        <locationX>264</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>RecordtobeCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opp_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordtobeCreated.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Active_Opp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordtobeCreated.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Save_in_Active_Opp_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Quantity</name>
        <label>Save Quantity</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Quantities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QTY</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>UniqueName</name>
        <choiceText>}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>}</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Collection_Filter_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter 1</label>
        <locationX>264</locationX>
        <locationY>1622</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_1</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Quantities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_1</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Loop_Through_Opp_Products.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Save_Product_for_New_Opp</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Was_it_Selected</name>
        <label>Was it Selected?</label>
        <locationX>396</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Opp_Products.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Filter_1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProductCollection</name>
        <collectionReference>Get_Opp_Products</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NameQuantity</name>
        <dataType>String</dataType>
        <expression>{!Quantity_Loop}&amp;&quot; - &quot;&amp;TEXT({!QuanitySelected})</expression>
    </formulas>
    <interviewLabel>Split Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Opportunity</label>
    <loops>
        <name>Loop_Through_Opp_Products</name>
        <label>Loop Through Opp Products</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <collectionReference>ProductsInOriginalOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_it_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Active_Opps_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Quantity_Loop</name>
        <label>Quantity Loop</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <collectionReference>Separate_Values.stringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Opp_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Active_Opps_Opportunity_Products</name>
        <label>Create Active Opps Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Delete_Active_Products_from_Inactive_Opp</targetReference>
        </connector>
        <inputReference>NewActiveOpportunityProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Active_Opp</name>
        <label>Create New Active Opp</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>OppInUse.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppInUse.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competencia__c</field>
            <value>
                <elementReference>OppInUse.Competencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <elementReference>OppInUse.ForecastCategoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ActiveOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Otro_Competidor__c</field>
            <value>
                <elementReference>OppInUse.Otro_Competidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>OppInUse.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>OppInUse.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_Opp_Split__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Active_Products_from_Inactive_Opp</name>
        <label>Delete Active Products from Inactive Opp</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Assign_Child_Opp_Value</targetReference>
        </connector>
        <inputReference>OpportunityProductsToBeDeleted</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_In_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppInUse.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Opportunity</name>
        <label>Link Opportunity</label>
        <locationX>176</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <inputReference>OppInUse</inputReference>
    </recordUpdates>
    <screens>
        <name>First_Display</name>
        <label>First Display</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Active_Opp_Name</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please select next to split the opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Separate_Values</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionText</name>
            <fieldText>&lt;p&gt;Please select which products will go to the new Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Products</name>
            <choiceReferences>ProductCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quantity</name>
        <label>Quantity</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_quantiy</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Please select a quantity for the product: {!Quantity_Loop}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>QuanitySelected</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>176</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;The Opportunity was successfully split&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Display</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActiveOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewActiveOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppInUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityProductsToBeDeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsInOriginalOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QTY</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quantities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtobeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
